@font-face {
  font-family: 'Exo 2';
  src: url('/blog/assets/Exo2-Light.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Font Awesome';
  src: url('/blog/assets/fa-solid-900.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('/blog/assets/Vollkorn-Bold.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

:root {
  --bg: white;
  --fg: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --fg: white;
  }
}

body {
  background-color: var(--bg);
  background-image: url('/blog/assets/square_bg.png');
  color: var(--fg);
  font-family: 'Exo 2';
  font-size: 18px;
  line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Vollkorn;
}

main {
  margin-left: calc(50% - 370px);
  width: 740px;
}

time {
  font-size: 0.5em;
}

.e-content p {
	border-left: 2px solid var(--fg);
	border-right: 2px solid var(--fg);
	padding-left: 1em;
	padding-right: 1em;
}

.h-entry {
  border: 1px dotted var(--fg);
  border-radius: 1em;
  color: $text-color;
  margin-block-end: 0.75em;
  padding: 1em;
  position: relative;
}

.h-entry .u-photo {
  display: inline-block;
  height: 1em;
}

.p-note {
  font-size: 0.75em;
}

.rss-subscribe:after {
  font-family: 'Font Awesome';
  content: ' \f09e';
}

.u-in-reply-to {
  font-family: 'Vollkorn';
  font-style: italic;
}

.u-uid {
  font-family: 'Vollkorn';
  font-weight: bold;
}

.webmention-bookmark:after,
.webmention-like:after,
.webmention-quote:after,
.webmention-quote:after,
.webmention-reply:after,
.webmention-social:after {
	font-family: "Font Awesome";
	font-size: 5em;
	margin-left: -1.5em;
	opacity: 0.25;
	position: absolute;
	top: 0.5em;
	right: 0.25em;
}

.webmention-bookmark:after {
	content: "\f02e";
}

.webmention-like:after {
	content: "\f164";
}

.webmention-quote:after {
	content: "\f10e";
}

.webmention-reply:after {
	content: "\f3e5";
}

.webmention-social:after {
  content: "\f5ac";
}

.webmention.webmention--like::after, .webmention.webmention--reply::after {
	font-family: "Font Awesome";
	font-size: 1.5em;
	margin-left: -1.5em;
	opacity: 0.25;
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	right: 0.1em;
}

.webmention.webmention--like::after {
	content: "\f164";
}

.webmention.webmention--reply::after {
	content: "\f3e5";
}

.webmentions__item {
	border: 1px solid $brand-color;
	border-radius: 0.5em;
	padding-left: 0.5em;
	position: relative;
}

.webmentions__list::before {
	content: "Webmentions, Not Necessarily CC-Licensed:";
	font-family: $header-font-family;
  text-align: center;
  transition: color 2s;
}

